<div class="p-grid">
  <div class="p-col-3">
    <p-card header="Get All People Card" [style]="{ 'margin-bottom': '2em' }">
      <p-scrollPanel [style]="{ width: '100%', height: '25rem' }">
        <div class="scrollbar">
          <ul>
            <li *ngFor="let people of peoples">
              <span class="badge">ID : {{ people.id }}</span>
              <span class="badge"> - Name : {{ people.name }}</span>
            </li>
          </ul>
        </div>
      </p-scrollPanel>
      <!-- <ng-template pTemplate="footer"> Footer content here </ng-template> -->
    </p-card>
  </div>

  <div class="p-col-3">
    <p-card header="Search" [style]="{ 'margin-bottom': '2em' }">
      <p-scrollPanel [style]="{ width: '100%', height: '25rem' }">
        <input type="text" pInputText [(ngModel)]="value1" />
        <p-button label="Submit" (onClick)="searchPeople(value1)"></p-button>
        <br />
        <span class="p-ml-2">valore cercato : {{ value1 }}</span>
        <br />
        <span *ngIf="peoplesSearchById">
          <span class="badge">ID : {{ peoplesSearchById.id }}</span>
          <span class="badge"> - Name : {{ peoplesSearchById.name }}</span>
        </span>
      </p-scrollPanel>
    </p-card>
  </div>

  <div class="p-col-3">
    <p-card header="Post" [style]="{ 'margin-bottom': '2em' }">
      <p-scrollPanel [style]="{ width: '100%', height: '25rem' }">
        <input type="text" pInputText [(ngModel)]="name" />
        <p-button label="Submit" (onClick)="postPeople(name)"></p-button>
      </p-scrollPanel>
    </p-card>
  </div>

  <div class="p-col-3">
    <p-card header="Put" [style]="{ 'margin-bottom': '2em' }">
      <p-scrollPanel [style]="{ width: '100%', height: '25rem' }">
        fate un put ?????
      </p-scrollPanel>
    </p-card>
  </div>
</div>
