<p-toolbar class="layout-topbar">
    <div class="p-toolbar-group-left">
        <p-button icon="pi pi-bars" (click)="toggleSideBar()"></p-button>

    </div>

    <div class="p-toolbar-group-right">
        <p-button icon="pi pi-search"></p-button>
        <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
    </div>
</p-toolbar>

<section class="container">
    <aside [ngClass]="{'expanding': isExpanding}">
        <p-menu [model]="menuItems" styleClass="side-menu"></p-menu>
    </aside>
    <div class="main-body">
        <router-outlet></router-outlet>
    </div>
</section>
